<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title><%= PageTitle %></title>
        <link rel="stylesheet" href="/public/styles.css" />
        <link rel="icon" href="/public/icon.png" />
    </head>
    <body>
